body{
    background-image:url("images/St-David-Landscape.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#0C4A60;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
    border :1px ;
    background-color: antiquewhite;
    color: black;
    padding: 1px ;
    text-decoration: double;
    margin: auto;
    margin-left: 300px ;
    margin-right:300px;
}
p{
    text-align: center;

}

div{
    text-align: center;
    
}
.hits{
    text-align: left;
}
.yeet{
    text-align: right;
    border-style: solid;
    
}
