$font-main: 'Montserrat', sans-serif;
$font-second: 'Roboto', sans-serif;

$light-back: #fffdd0;
$light-text-main: #ab4b2e;
$light-text-alt: #7e63d5;

$dark-back: #0c0b00;
$dark-text-main: #5476d1;
$dark-text-alt: #d1af54;
