/* not mine */
@use 'base';

/* https://codepen.io/fossheim/pen/MWwOBwx */
:root {
  --primary: #22d2a0;
  --secondary: #192824;
  --background: #192824;
  --green: #1fc11b;
  --yellow: #ffd913;
  --orange: #ff9c55;
  --red: #f55;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

body {
  background-image: radial-gradient(var(--secondary) 30%, var(--background) 30%);
  background-size: 2px 3px;
  bottom: 0;
  color: var(--primary);
  font-family: base.$font-main;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

body::-webkit-scrollbar {
  display: none;
}

div:last-child {
  margin-bottom: 50px;
}

div {
  background-color: var(--background);
  border: 3px solid var(--primary);
  box-shadow: 0 0 0 -3px var(--background), 0 0 0 0 var(--green),
    0 0 0 -3px var(--background), 0 0 0 0 var(--yellow),
    0 0 0 -3px var(--background), 0 0 0 0 var(--orange),
    0 0 0 -3px var(--background), 0 0 0 0 var(--red);
  cursor: pointer;
  display: block;
  left: 0;
  margin: calc(16vh - 30px) auto auto auto; /* FIXME with a media query */
  padding: 15px;
  position: relative;
  top: 0;
  transition: box-shadow 1s, top 1s, left 1s;
  width: 300px;
}

div:hover {
  box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
    20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
    30px -30px 0 -3px var(--background), 30px -30px var(--orange),
    40px -40px 0 -3px var(--background), 40px -40px var(--red);
  left: -40px;
  top: 40px;
}

p {
  color: var(--primary);
  font-size: 11px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  padding: 5px;
  text-transform: uppercase;
}

h2 {
  color: var(--primary);
  font-family: base.$font-main;
  font-size: 14px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

#home,
#home:visited {
  font-size: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
}

@media only screen and (max-height: 1000px) {
  div {
    margin: calc(16vh - 100px) auto 0 auto;
  }
}
